/* TODO freeze axes dropdowns till dataset is chosen */
/****** SELECT/OPTIONS ****/

select {
    -webkit-appearance: none;
    background: #ffffff;
    height: 42px;
    /*margin: 0px;*/
    width: 185px;
    font: 16px 'Roboto Condensed', sans-serif;
    font-weight: 300;
    border: 1px solid #ccc;
    color: #777777;
    border-radius: 0;
    background: #fff url(../resources/images/expand_arrow.png) 96% center no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    outline: none;
    padding: 10px;
}

select:hover {
    background: #f5f5f5 url(../resources/images/expand_arrow.png) 96% center no-repeat;
}

select:active {
    background: #f5f5f5 url(../resources/images/collapse_arrow.png) 96% center no-repeat;
}


/*****************/

.fakeit {

    -webkit-appearance: none;
    background: #ffffff;
    height: 42px;
    /*margin: 0px;*/
    width: 185px;
    font: 16px 'Roboto Condensed', sans-serif;
    font-weight: 300;
    border: 1px solid #ccc;
    color: #777777;
    border-radius: 0;
    background: #fff url(../resources/images/expand_arrow.png) 96% center no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    outline: none;
    padding: 10px;
}

.fakeit:hover{
    background: #f5f5f5 url(../resources/images/expand_arrow.png) 96% center no-repeat;
}


input[type="radio"]{
    /*display: none;*/
}
div>ul {
    border: 1px solid #ccc;
    -webkit-appearance: none;
    position: relative;
    margin-top: 11px;
    margin-left: -11px;
    padding: 0px;
    width: 183px;
    list-style: none;
    background: #ffffff;

}
div>ul>li{
    padding-top: 5px;
}
div>ul>li:hover{
    background: #f5f5f5;
}
